## Functions assignment

![Alt text](image.png)

### Q1. Write 2 functions to convert temperature to Celsius and Farenheit with names celsius_to_farenheit and farenheit_to_celsius

![Alt text](image-2.png)

In [1]:
def cel_to_far(C):
    F = (9/5)*C + 32
    return F

In [2]:
cel_to_far(37)

98.60000000000001

In [3]:
t1 = cel_to_far(40)
t1

104.0

In [4]:
def far_to_cel(F):
    C = (5/9)*(F-32)
    return C

In [5]:
far_to_cel(100)

37.77777777777778

### Q2. Write a function to calculate factorial of given number eg. 5 factorial = 54321
6! = 6x5x4x3x2x1

In [6]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 0! = 1

In [8]:
def factorial(n):
    if n==0:
        f = 1
    else:
        f = 1
        for i in range(1,n+1):
             f = f*i
    return f

In [9]:
factorial(5)

120

In [10]:
factorial(0)

1

In [12]:
factorial(8)

40320

In [13]:
8*7*6*5*4*3*2*1

40320

### Q3. Write a function to count vowels from a given word (A , E, I , O, U)

In [14]:
a = 'ETLHive'

In [15]:
a.lower()

'etlhive'

In [16]:
a.upper()

'ETLHIVE'

In [17]:
12 > 13

False

In [18]:
'a' in 'aeiou'

True

In [19]:
'x' in 'aeiou'

False

In [20]:
for i in a.lower():
    print(i)

e
t
l
h
i
v
e

In [21]:
def vowel_counter(st):
    v = 0
    for i in st.lower():
        if i in 'aeiou':
            v = v+1
    return v

In [22]:
vowel_counter('ETLHive')

3

In [23]:
vowel_counter('Hi All Welcome to Data Science Class')

12

### Q4 : For given P INR, N in Years and R in %p.a. calculate EMI (Equal Monthly Installements)

![Alt text](image-3.png)

In [24]:
def calculate_EMI(P, N, R):
    # Convert N from years to months
    n = N*12

    # Convert R from %p.a. to %p.m.
    r = R/(12*100)

    # EMI Calculation
    x = (1+r)**n
    EMI = P*r*x/(x-1)

    return round(EMI)

In [25]:
e1 = calculate_EMI(P=500000, N=3, R=12.5)
e1

16727

In [26]:
e2 = calculate_EMI(P=800000, N=5, R=15)

In [27]:
e2

19032

### Q5. Take marks of multiple students as input and provide grade accordingly
1. More than 90 : A
2. 80 - 89 : B
3. 70 - 79 : C
4. 60 - 69 : D
5. Below 60 : F

In [28]:
def get_grades(*marks):
    gr = []
    for i in marks:
        if i>=90:
            gr.append('A')
        elif i>=80 and i<=89:
            gr.append('B')
        elif i>=70 and i<=79:
            gr.append('C')
        elif i>=60 and i<=69:
            gr.append('D')
        else:
            gr.append('F')
    return gr

In [29]:
get_grades(78)

['C']

In [30]:
g1 = get_grades(65, 98, 75, 82, 86, 30, 55)
g1

['D', 'A', 'C', 'B', 'B', 'F', 'F']

![Alt text](image-1.png)

In [31]:
def analyze_marks(*marks):
    # Find average of marks
    s = sum(marks)
    c = len(marks)
    avg = s/c
    
    # Find highest marks
    high = max(marks)

    # Find Lowest marks
    low = min(marks)

    # Number of students passed and failed
    p = 0
    f = 0
    for i in marks:
        if i>=60:
            p = p + 1
        else:
            f = f + 1

    # Create a dictionary
    dct = {'Average':[avg],
           'Highest':[high],
           'Lowest':[low],
           'nPass':[p],
           'nFail':[f]}
    
    # Convert dct to dataframe
    import pandas as pd
    df = pd.DataFrame(dct)

    return df

In [32]:
analyze_marks(35, 78, 93, 85, 86, 62, 56, 65)

   Average  Highest  Lowest  nPass  nFail
0     70.0       93      35      6      2

### Decorator functions

In [33]:
def hello_world():
    print('Hello World')

In [34]:
hello_world()

Hello World

In [35]:
def welcome_decorator(func):
    def wrapper(*args, **kwargs):
        print('Welcome to my Program')
        func(*args, **kwargs)
        print('Thank you for using my program')
    return wrapper

In [36]:
@welcome_decorator
def hello_world1():
    print('Hello World')

In [37]:
hello_world1()

Welcome to my Program
Hello World
Thank you for using my program

In [38]:
@welcome_decorator
def random_addition():
    a = 23
    b = 42
    print(f'Addition of {a} and {b} is {a+b}')

In [39]:
random_addition()

Welcome to my Program
Addition of 23 and 42 is 65
Thank you for using my program

In [40]:
@welcome_decorator
def add(a,b):
    c = a+b
    print(f'Addition of {a} and {b} is {c}')

In [41]:
add(3,4)

Welcome to my Program
Addition of 3 and 4 is 7
Thank you for using my program

In [42]:
add(12.5, 13.4)

Welcome to my Program
Addition of 12.5 and 13.4 is 25.9
Thank you for using my program

### Calculate execution time of given code

In [43]:
import time

In [44]:
time.time()

1696348736.7678945

In [45]:
time.time()

1696348754.384216

In [46]:
dir(time)

['_STRUCT_TM_ITEMS',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'altzone',
 'asctime',
 'ctime',
 'daylight',
 'get_clock_info',
 'gmtime',
 'localtime',
 'mktime',
 'monotonic',
 'monotonic_ns',
 'perf_counter',
 'perf_counter_ns',
 'process_time',
 'process_time_ns',
 'sleep',
 'strftime',
 'strptime',
 'struct_time',
 'thread_time',
 'thread_time_ns',
 'time',
 'time_ns',
 'timezone',
 'tzname']

In [47]:
time.time_ns()

1696348772218249900

In [48]:
def time_decorator(func):
    def wrapper(*args, **kwargs):
        t1 = time.time_ns()
        func(*args, **kwargs)
        t2 = time.time_ns()
        tr = t2-t1        
        print(f'Time requrired for execution of this code is {tr}')
        return  func(*args, **kwargs)
    return wrapper

In [49]:
@time_decorator
def square_list(n):
    sq = []
    for i in range(1,n+1):
        sq.append(i*i)
    return sq

In [50]:
sq1 = square_list(1000000)

Time requrired for execution of this code is 441750600

In [51]:
@time_decorator
def calculate_EMI(P, N, R):
    # Convert N from years to months
    n = N*12

    # Convert R from %p.a. to %p.m.
    r = R/(12*100)

    # EMI Calculation
    x = (1+r)**n
    EMI = P*r*x/(x-1)

    return round(EMI)

In [52]:
calculate_EMI(P=1000000, N=10, R=16)

Time requrired for execution of this code is 0

16751

In [53]:
e2 = calculate_EMI(P=1000000, N=10, R=16)
e2

Time requrired for execution of this code is 0

16751