# Functions Class

## Inbuilt functions in python

In [1]:
print('This is advance python session')

This is advance python session

In [2]:
a = [1, 2, 3, 4, 5]

In [3]:
a

[1, 2, 3, 4, 5]

In [4]:
type(a)

list

In [5]:
len(a)

5

In [6]:
a.append(10)
a

[1, 2, 3, 4, 5, 10]

In [7]:
sum(a)

25

## Custom Functions in python

![Alt text](image.png)

In [8]:
def add(a, b):
    """
    Input : Any two numbers
    Output : Addition of two numbers
    """
    c = a + b
    return c

In [9]:
add(2, 6)

8

In [10]:
add(14, 16)

30

In [11]:
b = add(18.7, 12.1)
b

30.799999999999997

### Multiple inputs in functions
### Use of arguments in functions *args

In [12]:
def arguments(*args):
    for i in args:
        print(i)

In [13]:
arguments(4, 5, 6, 7, 8, 11)

4
5
6
7
8
11

In [14]:
def add_many(*nums):
    """
    This function adds multiple numbers
    """
    # Initialise sum to 0
    s = 0
    # Apply for loop on nums
    for i in nums:
        s = s + i
    return s

In [15]:
add_many(2,4)

6

In [16]:
add_many(2,4,5,7,8)

26

In [17]:
s1 = add_many(2,56,78,56,78,45)
s1

315

### Getting product of multiple numbers

In [18]:
def product_many(*nums):
    """
    This function multiplies multiple numbers
    """
    # Initialise product to 1
    p = 1
    # Apply for loop on nums
    for i in nums:
        p = p*i
    return p

In [19]:
product_many(2,4)

8

In [20]:
product_many(1,2,4,5)

40

### Keyword Arguments
**kwargs - dictionaries

{key1:value1,
key2:value2,
.
.
.}

In [21]:
dct = {101:'Sanyukta',
       102:'Shital',
       103:'Soham'}

In [22]:
dct.keys()

dict_keys([101, 102, 103])

In [23]:
dct.values()

dict_values(['Sanyukta', 'Shital', 'Soham'])

In [24]:
dct.items()

dict_items([(101, 'Sanyukta'), (102, 'Shital'), (103, 'Soham')])

In [25]:
def keyword_arguments(**kwargs):
    for key, value in kwargs.items():
        print(f'{key} : {value}')

In [26]:
keyword_arguments(name='Sanyukta', age=22, gender='Female', married=False)

name : Sanyukta
age : 22
gender : Female
married : False

In [27]:
keyword_arguments(name='Sanyukta', age=22, gender='Female', married=False, email='example@gmail.com')

name : Sanyukta
age : 22
gender : Female
married : False
email : example@gmail.com

### Creation of user data

In [28]:
def create_user(**kwargs):
    """
    This function creates new user
    """
    user = {'username':"",
            'email':"",
            'age':18}
    user.update(kwargs)
    return user

In [30]:
user1 = create_user(username='sanyukta', email='example@gmail.com', age=22)

In [31]:
user1

{'username': 'sanyukta', 'email': 'example@gmail.com', 'age': 22}

In [32]:
user2 = create_user(username='aditis2')

In [33]:
user2

{'username': 'aditis2', 'email': '', 'age': 18}

In [35]:
d1 = {'a':1,
      'b':3,
      'c':4}

In [36]:
d2 = {'a':10,
      'b':15,
      'c':17}

In [37]:
d1.update(d2)

In [38]:
d1

{'a': 10, 'b': 15, 'c': 17}

In [39]:
d2

{'a': 10, 'b': 15, 'c': 17}

### Function to calculate hypotenuse of right angled triangle
$ c^2 = a^2 + b^2 $

$ c = sqrt(a^2 + b^2) $

In [40]:
2**2

4

In [41]:
4**3

64

In [42]:
9**(1/2)

3.0

In [43]:
def hypotenuse(a, b):
    c = (a**2 + b**2)**(1/2)
    return c

In [45]:
h1 = hypotenuse(3, 4)
h1

5.0

In [46]:
h2 = hypotenuse(11, 12)
h2

16.278820596099706

### Take 3 sides of triangle and tell whether it forms a triangle or not

sum of two sides > third

In [48]:
def is_triangle(x, y, z):
    """
    This function tells whether given 3 sides form  triangle or not
    """
    if(x+y)>z and (y+z)> x and (z+x)>y:
        s = True
    else:
        s = False
    return s

In [49]:
is_triangle(3,4,5)

True

In [50]:
is_triangle(4,6,8)

True

In [52]:
is_triangle(1,2,4)

False

### Calculating area of triangle with givenn sides a, b, c
Herons formula

$ s = (a+b+c)/2 $

$ area = sqrt(s*(s-a)*(s-b)*(s-c)) $

In [53]:
def ares_triangle(a, b, c):
    if is_triangle(a,b,c)==True:
        s = (a+b+c)/2
        ar = (s*(s-a)*(s-b)*(s-c))**(1/2)
    else:
        ar = None
        print(f'The given sides {a}, {b} and {c} DO NOT form a Triangle')
    return ar

In [54]:
t1 = ares_triangle(12, 13, 14)
t1

72.30793524918272

In [55]:
t2 = ares_triangle(1,2,4)

The given sides 1, 2 and 4 DO NOT form a Triangle

In [56]:
ares_triangle(3,4,5)

6.0