# Class in OOP (Object Oriented Programming)

In [1]:
age = 28
print(type(age))

<class 'int'>

In [2]:
h = 5.6
print(type(h))

<class 'float'>

In [3]:
s = [3,6,7,9,3]
print(type(s))

<class 'list'>

In [4]:
s.append(7)
s

[3, 6, 7, 9, 3, 7]

### Creating Custom class person

In [5]:
class Person:

    # Constructor Function - used to define attributes of function
    def __init__(self, name, age, gender, occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    # User defined function
    def talk(self):
        print(f'Hi There my name is {self.name}')
        print(f'My age is {self.age}')
        print(f'I am {self.gender}')
        print(f'I work as {self.occupation}')

In [6]:
p1 = Person(name='Utkarsh', age=29, gender='Male', occupation='Data Scientist')

In [7]:
print(type(p1))

<class '__main__.Person'>

In [8]:
p1.name

'Utkarsh'

In [9]:
p1.age

29

In [10]:
p1.gender

'Male'

In [11]:
p1.occupation

'Data Scientist'

In [12]:
p1.talk()

Hi There my name is Utkarsh
My age is 29
I am Male
I work as Data Scientist

In [13]:
p2 = Person(name='Aditi', age=38, gender='Female', occupation='HR')

In [14]:
p2.talk()

Hi There my name is Aditi
My age is 38
I am Female
I work as HR

### Create class Bank Account

![Alt text](image.png)

In [24]:
class account:

    # Add init constructor
    def __init__(self, ac_no, name, bal=0):
        self.ac_no = ac_no
        self.name = name
        self.bal = bal
    
    # Function for depositing money
    def deposit(self, amt):
        self.bal = self.bal + amt
        print(f'Balance of {amt} INR deposited in your bank account : {self.ac_no}')
        print(f'Current Balance : {self.bal} INR')

    # Function to withdraw money
    def withdraw(self, amt):
        if self.bal >= amt:
            self.bal = self.bal - amt
            print(f'Amount of {amt} INR withdrawn from your bank account number : {self.ac_no}')
            print(f'Current Balance : {self.bal} INR')
        else:
            print(f'Insufficient Balance in account {self.ac_no}. Current Balance in your account is {self.bal}')

    # Function to transfer money
    def transfer(self, amt, ac2):
        if self.bal >= amt:
            self.bal = self.bal - amt
            ac2.bal = ac2.bal + amt
            print(f'Amount of {amt} INR Transferred to account number : {self.ac_no} from your account : {self.ac_no}')
            print(f'Current balance : {self.bal} INR')
        else:
            print(f'Insufficient Balance in account {self.ac_no}. Current balance in your account is {self.bal} INR')

In [25]:
a1 = account(ac_no=123, name='Sarthak Sharma', bal=5000)

In [26]:
print(type(a1))

<class '__main__.account'>

In [27]:
a1.ac_no

123

In [28]:
a1.name

'Sarthak Sharma'

In [29]:
a1.bal

5000

In [30]:
a1.deposit(2500)

Balance of 2500 INR deposited in your bank account : 123
Current Balance : 7500 INR

In [31]:
a1.bal

7500

In [32]:
a1.withdraw(1000)

Amount of 1000 INR withdrawn from your bank account number : 123
Current Balance : 6500 INR

In [33]:
a1.withdraw(8000)

Insufficient Balance in account 123. Current Balance in your account is 6500

In [34]:
a2 = account(ac_no=456, name='Raman Verma')

In [35]:
a2

In [36]:
a2.ac_no

456

In [37]:
a2.name

'Raman Verma'

In [38]:
a2.bal

0

### Transferring money from ac1 to ac2

In [39]:
a1.bal

6500

In [40]:
a1.transfer(amt=500, ac2=a2)

Amount of 500 INR Transferred to account number : 123 from your account : 123
Current balance : 6000 INR

In [41]:
a2.bal

500

In [42]:
a2.transfer(amt=1000, ac2=a1)

Insufficient Balance in account 456. Current balance in your account is 500 INR

In [43]:
a2.transfer(amt=100, ac2=a1)

Amount of 100 INR Transferred to account number : 456 from your account : 456
Current balance : 400 INR

In [44]:
a1.bal

6100

In [45]:
a2.bal

400